/* plugin_nav */
.plugin_nav {height: 48px;line-height: 48px;position: absolute;z-index: 2;top: 0;left: 0;width: 100%;background-color: rgb(250,250,250);font-size: 1.14285rem;}
.plugin_nav ul li {float: left;width: 50%;text-align: center;}
.plugin_nav ul li a.on {color: #f07b13;}

.plugin_content {position: absolute;z-index: 1;top: 48px;bottom: 48px;left: 0;width: 100%;overflow: hidden;}
.plugin_iscroll {position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);
    transform: translateZ(0);-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;
}
.plugin_iscroll,
.swipe_wrap {display: none;}
.plugin_iscroll.on,
.swipe_wrap.on {display: block;}

/* swipe */
#mySwipe div b {display:block;font-weight:bold;color:#14ADE5;font-size:20px;text-align:center;margin:10px;padding:100px 10px;box-shadow: 0 1px #EBEBEB;
  background: #fff;border-radius: 3px;border: 1px solid;border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float:left;width:100%;position: relative;}

/* dialog */
.demo_btn {height: 44px;padding: 10px;font-size: 17px;line-height: 17px;display: block;width: 100%;display: inline-block;border-radius: 3px;padding: 6px 10px;
margin: 4px 0;border: 1px solid #0079FF;color: #0079FF;font-size: 13px;line-height: 13px;text-align: center;
background-color: transparent;-webkit-appearance: none;text-decoration: none;-webkit-box-sizing: border-box;}

/* 弹层 */
.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; background-color: rgba(0, 0, 0, 0.3); display: none;
            -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;
            justify-content: center; -webkit-box-align: center; -ms-flex-align: center;
            -webkit-align-items: center; align-items: center;  }
.overlay .modal { display: none;width:95%;background-color: #fff; overflow: hidden;
             background-image: linear-gradient(to top,#f5f5f5,#fff); background-image: -webkit-linear-gradient(to top,#f5f5f5,#fff);border-radius: 10px;}
.lay_on {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}

    /* 文字提示 */
    .overlay .modal_tips { font-size: .92857em; color: #020202; height: 30px; line-height: 30px; text-align: center;
     padding:15px 0; }

    /* 登录弹窗 */
    .overlay .modal_login {  height: 160px;}
    .overlay .modal_login .modal_bd { height: 100px; overflow: hidden;text-align: center;}
    .overlay .modal_login .modal_bd .bd_txt {font-size: .92857em;margin-top: 50px;}
    .overlay .modal_login .modal_ft {text-align: center; padding-top: 10px; height: 60px;}
    .overlay .modal_login .modal_ft .mod_btn { margin-right: 20px;}

/* lazyload */
.demo_lazyload {width: 240px;margin: 0 auto;}
.demo_lazyload ul li {margin-top: 10px;}

.demo_footer {width: 100%;bottom: 0;position: fixed;left: 0;right: 0;text-align: center;height: 36px;background-color: rgb(250,250,250);line-height: 36px;}
.demo_footer ul li {float: left;width: 33.3%;}
.demo_footer ul li a {font-size: 1.14285rem;}
.demo_footer ul li a.on {color: #f07b13;}