/* ==== 头部 ==== */
.mod_header { background: #299bdc; border-bottom: 1px solid #bbb; height: 50px; position: relative;}
    .mod_header .logo { float: left; background: url(logo.png) 0 0 no-repeat; margin: 15px 0 0 15px; width: 75px; height: 35px; 
                background-size: 75px 35px; -webkit-background-size: 75px 35px;}
    .mod_header .mod_sitemap { float: right; }
    .mod_header .mod_sitemap .mod_sitemap_ul {overflow: hidden;}
    .mod_header .mod_sitemap .mod_sitemap_ul li { float: left;}
    .mod_header .mod_sitemap .mod_sitemap_ul li a { display: block; width: 58px; height: 20px; padding-top: 30px; position: relative; text-align: center; font-size: .92857em; font-weight: bold; color: #fff;}
        .mod_header .mod_sitemap .mod_sitemap_ul li a.on { background-color: #1a84c0;}
    .mod_header .mod_sitemap .mod_sitemap_ul li a:before { content: ''; position: absolute; left: 20px; top: 6px; width: 20px; height: 20px; background-image: url(sprites.png); background-repeat: no-repeat;
                background-size: 40px 20px; -webkit-background-size: 40px 20px;}
    .mod_header .mod_sitemap .mod_sitemap_ul li .mod_sitemap_classify::before { background-position: 0 0;}
    .mod_header .mod_sitemap .mod_sitemap_ul li .mod_sitemap_entry::before { background-position:-20px top;}

/* ==== 分类浮层导航 ==== */
.mod_mnav { width: 100%; height: 80px; background-color: rgba(255,255,255,.9); position: absolute; left: 0; top: 50px; z-index: 1; display: none;}
.mod_mnav_on { display: block;}
.mod_mnav .mod_mnav_row { height: 40px; display: -webkit-box; display: -ms-flexbox; display: box; box-orient: horizontal;}
.mod_mnav .mod_mnav_row:nth-child(2) { width: 50%;}
.mod_mnav .mod_mnav_row a { -webkit-box-flex: 1; -ms-flex: 1; box-flex: 1; display: block; text-align: center; line-height: 40px; font-size: .92857em; font-weight: bold;}