/*===== 样式重置 =====*/
    html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}

    html{overflow-y:scroll;}
    body{height:100%; background-color:#fff;}

    body{font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3"; font-size: 14px; line-height: 1.4;
                                                    min-width: 320px; max-width: 1024px; min-height: 100%; margin: 0 auto; color:#666;}
    
    h1,h2,h3,h4,h5,h6{font-size:100%;}

    ul,ol{list-style:none;}
    
    a{background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #666;}
    a,button {outline:none;}
    a:hover { color: #f07b13;}

    fieldset,img{border:0 none;}

    i,em{font-style:normal;}

    table{border-collapse:collapse; border-spacing:0;}

    input,select,textarea,button{font-size:100%; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
    button,
    input[type=button],
    input[type=submit]{cursor:pointer;}
    input[type=search]{-webkit-appearance:textfield;}
    input[type="submit"]{-webkit-appearance:none;} 
    textarea{overflow-y:auto; resize:vertical;}
    
    button {border: 0;}
    
    /*===== 清除浮动 =====*/
    .clear,
    .clearfix{zoom:1;}
    .clear:after,
    .clearfix:after{
        content:' ';
        display:block;
        clear:both;
        height:0;
        visibility:hidden;
    }

    /*===== 快捷样式类名 =====*/
    .hidden{display:none;}